<h1> Welcome to Booklist </h1>
<% @books.each do |book| %>
<ul>
  <li>
    <b>Title: </b><%= book.title%><br>
    <b>Author: </b><%= book.author%><br>
    <b>Already Read:</b> <%= book.already_read%>

  </li>
</ul>
<%end%>
